@font-face{
font-family: Raleway;
src: url("Raleway/Raleway-Regular.ttf");

}
body {
background: #2E2E2E;
color: white;
/*font-family: : Raleway, sans-serif;*/
font-family: 'Roboto', sans-serif;



	font-size: 16px;/*1em*/
	margin: 0 auto;
	max-width: 1024px;

}

header{

background: white;


}
header form input{
	border-radius: 20px;
}
#secc01art01 {
background-color: black;

}
#secc01art02{
	background-color: #ACFA58;
		width: 200px;
height: 250px;
	margin-left: 200px;
	margin-top: -220px;
}

#secc01art03{
	
	background-color: #585858;
	width: 200px;
	height: 250px;
	margin-left: 400px;
	margin-top: -250px;
    color: #646160;  
}
#secc01art04{
	background-color: #B40404;
	width: 200px;
	height: 250px;
	margin-left: 600px;
	margin-top: -272px;
	color:#EEEBEB;  
}
#secc01art05{
	background-color: #E6E6E6;
	width: 200px;
	height: 250px;
	margin-left: 800px;
	margin-top: -270px;
}
header{
	width: 1024px;
	height: 70px;


}
#secc02art01{
background-color:  #2E2E2E;
	width: 200px;
	height: 250px;
	margin-left: 50px;
	margin-top: 50px;

}
#secc02art02{

background-color:  #2E2E2E;
	width: 200px;
	height: 250px;
	margin-left: 400px;
	margin-top:  -250px;


}

#secc02art03{


	background-color: #2E2E2E;
	width: 200px;
	height: 250px;
	margin-left: 750px;
	margin-top:  -250px;
	font-size:2em;
}
#seccion02{
   border: 3px black dotted;
}
	
#primerseccion{
background-color: #2E2E2E;

}
#nav{
background-color: #2E2E2E;

}




